{% extends 'layoutAdmin.html' %}
{% block tittle %} Home | SIMAVEH {% endblock %}

{% block contenido_vehiculo%}
<section class="section">
    <div class="columns">
        <div class="conten">
            <h3 class="is-size-3">Registro de vehiculo</h3>
            <form action="{{url_for('guardar_vehiculo')}}" method="post" class="formularioAgregar" id="formulario">
               
                <label for="marca">Marca del vehiculo:</label>
                <input required type="text" class="input" placeholder="marca" name="marca" id="marca"><br>
               
                <label for="modelo">Modelo del vehiculo:</label>
                <input required type="text" class="input" placeholder="modelo" name="modelo" id="modelo"><br>

                <label for="color">Color de Vehiculo:</label>
                <input required type="text" class="input" placeholder="color" name="color" id="color"><br>
               
                <label for="numero_unidad">Numero de la movil:</label>
                <input required type="text" class="input" placeholder="numero_unidad" name="numero_unidad" id="numero_unidad"><br>
                
                <label for="placa">Placa:</label>
                <input required type="text" class="input" placeholder="placa" name="placa" id="placa"><br>
               
               
                <button type="submit" class="save_btn">  Guardar</button>
                <button class="cancel_btn"><a href="{{url_for('mante_vehiculo')}}" >Cancelar</a></button>
            </form>
        </div>
    </div>
</section>

{% endblock %}